<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  
  <% if @first_time_password_creation == true %> 
    
      <h1>Welcome</h1>
      <p>Congrats! Your Email has been registered successfully in Braincarve. You can set your password by clicking the below link: 
        <a href="<%= @base_url%>/reset_password?user_id=<%= @user.id%>">Click here</a>
      </p>
      <p>Thanks for joining and have a great day!</p>

  <% else %>
      
      <h1>Welcome</h1>
      <p>You can set your new password by clicking the below link: 
        <a href="<%= @base_url%>/reset_password?user_id=<%= @user.id%>">Click here</a>
      </p>
      <p>Thanks for joining and have a great day!</p>
  
  <%end%>

 </body>
</html>

<style type="text/css">
  a, a:hover, a:active, a:focus{
   color:#008ae6 !important;
   text-decoration: underline;
  }
</style>