<div class="card">
<div class="card-header">
    <h4>Order Invoice
    <%= link_to "<i class='btn btn-info btn-sm'> Back</i>".html_safe, invoices_path, class: "pull-right" %></h4>
</div>
<div class="card-body"><%= render 'form', invoice: @invoice %></div>
</div>
