<!-- <div><%#= link_to "Print", '#', onclick: "printpage()", class: "btn btn-orange" %></div> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BrainCarve</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-turbolinks="false">

  <div class="container mt-4">
     
  </div>

  <div class="card">
    
    <div class="card-header">
      <center><h3 style="color: #f29543;"> BrainCarve - Registration</h3></center>
    </div>
    
    <div class="card-body">
      <div class="container print-body mt-4">

    <div class="row pl-4 first-row">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
      <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
     <div class="row pl-4">
      <div class="col-md col-sm-6"><label>Franchisee Type</label></div>
       <div class="col-md col-sm-6"><span>Thoughtbees</span></div>
    </div>
</div>

</div>
    
    <div class="card-footer"><center><h6>Copyright (C) 2017, BrainCarve Educare India Pvt Ltd. All Rights Reserved.</h6></center></div>
  
  </div>

  


  
</body>
</html>




<script type="text/javascript">
  function printpage()
  {
  window.print()
  }
</script>
<style type="text/css">
  /*@media print {
  a[href]:after {
    content: none
  }
}*/

/* for printing without the url printed */
@page { size: auto;  margin: 0mm; } 

span{
  padding-left: 50px;
}

body .print-body {
    border: 1px solid #f29543;
    padding-left: 30px;
}
.first-row{
  padding-top: 30px;
}
h6{
  font-size: 12px;
}
</style>


