<h1>Editing Franchisee Agreement</h1>

<%= render 'form', franchisee_agreement: @franchisee_agreement %>

<%= link_to 'Show', @franchisee_agreement %> |
<%= link_to 'Back', franchisee_agreements_path %>
