<!-- <h1>New Student Fee Pay</h1>


<!%= render 'form', student_fee_pay: @student_fee_pay %>

<!%= link_to 'Back', student_fee_pays_path %>
 -->


<div class="card">
<div class="card-header">
    <h3>Student Fee Payment Form
    <%= link_to "<i class='fa fa-reply'></i>".html_safe, students_path, class: "head-title pull-right" %></h3>
</div>
<div class="card-body"><%= render 'form', student_fee_pay: @student_fee_pay %></div>
</div>

