<div class="modal-dialog modal-lg">
  	<div class="modal-content">
 		<div class="modal-header">Edit Installment
 			<button type="button" class="close" data-dismiss="modal">&times;</button>
 		</div>

		<div class="modal-body">
			<%= render 'form', installment_detail: @installment_detail %>
		</div>
	</div>
</div>
