 @import "bootstrap";
 @import "chosen";
 @import "daterangepicker-bs3";
 @import 'selectize';
 @import 'selectize.bootstrap3';
 @import "font-awesome";
 @import "datatables";
 @import "custome";
 @import "flatpickr";
 @import "bootstrap-timepicker";
 @import "sweetalert";
 @import "fullcalendar";
 
/* .custome_container{
    margin-top: 3.4%;
  }
.custome_sidebar {
	position: fixed;
	height: 100%;
	overflow-y: auto;
	width: 200px;
	}
.custome_header {
	height: 14%;
}
.custome_footer {
	position: fixed;
bottom: 0;
width: 100%;
padding: 0.5%;
}*/