
  <table id="to_company_bc_company_table" class="table table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
     <th>Date</th>
      <th>Franchisee Type</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>

   <% @expense.each do |expense| %>
      <tr>
       
        <%if expense.is_a?(Payment)%>
        <td><%= expense.payment_date.strftime("%d-%m-%Y")%></td>
        <td> purchase </td>
        <td><%= expense.amount_paid%></td>
        <%else%>
        <td><%= expense.date.strftime("%d-%m-%Y") %></td>
        <td>petty cash</td>
        <td><%= expense.amount %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

  <!--  <div class="side-pop" style="color:white; display:none">
    <ul>
    <li><a title="Show" id="show"> <i class="btn btn-sm btn-default fa fa-sm fa-eye"></i></a></li>
      <li><a title="Edit" id="edit" > <i class="btn btn-sm btn-default fa fa-sm fa-pencil" ></i></a></li>
       <li><a title="Delete" id="destroy" data-method="delete" class="confirmation"> <i class="btn btn-sm btn-default fa fa-sm fa-trash-o"></i></a></li> 
    </ul>
  </div> 

 </div>  -->


<script type="text/javascript">
$(document).ready(function() {
  $("#to_company_bc_company_table").dataTable({
    columnDefs: [
    {orderable: false, targets: -1},
    {orderable: false, targets: -2},
    {orderable: false, targets: -3},
    ]
  });
});
</script>

<style type="text/css">
.btn-orange{
color: #fff;
}
.crud{
    color: green;
  }
  .actn{
/*display: none;*/
width: 58px;
/*position: fixed;*/
background-color: #e26616;
right: 0px;
/*top: 303px;*/
z-index: 10;
border-radius: 8px;
height: 104px;
padding: 12px 5px;
}
</style>


<!-- actions bar -->


<script>
/*$(document).ready(function(){
   $( "#actions").hide();
    $(".show").click(function(){
        $("#actions").show();
    });
   
});*/
</script> 



<script type="text/javascript">
  $(document).ready(function() {
var table = $('#franchisee_table').DataTable({
   "scrollY":  '50vh',
    "crollCollapse": true,
    "scrollX": true
});
  
</script>

<style type="text/css">
  .side-pop{ 
    height:auto; 
    padding:2px; 
    background-color:#E67A3F;
    border:1px solid #E67A3F; 
    position:fixed; 
    top:50%; 
    right:0; 
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease; 
    border-radius:4px 0 0 4px; 
    margin-top:-100px;
  }
.side-pop ul{ 
  width:auto; 
  height:auto; 
  margin:0; 
  padding:0; 
}
.side-pop ul li{ 
  float:none; 
  width:30px; 
  height:20px; 
  margin:0; padding:0; 
  list-style:none; 
  text-align:center; 
  margin-bottom:10px; 
  font-size:20px; 
}
.side-pop ul li a{ 
  color:#fff; 
  display:block; 
  text-decoration:none; 
  text-align:center;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; 
    -ms-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; 
    transition: all 0.2s ease; 
  }
.side-pop ul li a strong{
  font-weight:900;
}  
.side-pop ul li a:hover{ 
  color:#f0ebf0;
  -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25);
     transform:scale(1.25);}
.side-show{
  right:0px;
}
.side-pop .close{ 
  width:auto; 
  font-size:15px; 
  color:#BE2134; 
  margin-top:5px; 
  text-align:center;
}
</style>