<!--  <footer class="footer bg-dark custome_footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer> -->


 <footer class="main-footer sticky-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p style="text-align: center;">Copyright (C) 2017, BrainCarve Educare India Pvt Ltd. All Rights Reserved. </p>
            </div>
           <!-- <div class="col-sm-6 text-right">
              <a href="#">Crafted by Thoughtbees</a>
            </div> -->
          </div>
        </div>
      </footer>


      <!-- -->